.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox-icon {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid $primary-text-color;
  border-radius: 2px;
}
.checkbox:checked + .checkbox-icon {
  border-color: $accent;
  background-color: $accent;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}
.check-text {
  color: $title-text-color;
  font-size: 14px;
  line-height: 1.71;

  & a {
    color: $accent;
    text-decoration: underline;
  }
}
