.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  min-width: 30px;
  min-height: 30px;
  padding: 6px 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: $title-white-color;
  cursor: pointer;
}
.icon-close {
  margin: auto;
  width: 18px;
  height: 18px;
  fill: $primary-text-color;

  .close-modal:hover &,
  .close-modal:focus & {
    fill: $accent;
  }
}
