footer {
  background-color: $footer-bg-color;
}
.logo-footer {
  @extend %logo;
  display: block;
  margin-bottom: 8px;
}

.footer-page {
  padding: 60px 0px 60px;
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    justify-content: space-between;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.footer-main {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: 50%;
    padding-left: 60px;
    padding-right: 85px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: 20%;
    padding-left: 0;
  }
}

.address {
  font-style: inherit;
}

.adress-title {
  display: block;
  margin-top: 20px;
  color: $title-white-color;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.contact {
  display: block;
  margin-top: 9px;
  padding: 0px;
  text-decoration: none;
  color: $footer-text-color;
  font-size: 14px;
  line-height: 1.71;
}

.join {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: 50%;
    margin-top: 5px;
    margin-bottom: 0;
    padding-left: 80px;
    padding-right: 73px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: 20%;
    margin-top: 10px;
    margin-bottom: 45px;
  }
}

.join-title {
  display: block;
  color: $title-white-color;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.join-list {
  display: flex;
  // align-items: center;
  justify-content: center;

  @media screen and (min-width: 1200px) {
    justify-content: flex-start;
  }

  & .social-link:hover,
  & .social-link:focus {
    background-color: $accent;
  }
  & .item:not(:last-child) {
    margin-right: 10px;
  }
}

.join .social-link {
  background-color: $footer-bg-socicon;
}

.join .social-icon {
  fill: $title-white-color;
}

.subscribe {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: 100%;
    max-width: 450px;
    margin-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: 50%;
    margin-bottom: 30px;
  }
}

.subscribe {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-end;
    max-width: 570px;
  }
}

.input-footer {
  display: block;
  padding: 15px 16px;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }

  background-color: $footer-bg-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: $footer-text-color;

  &:focus,
  &:active {
    outline: transparent;
    border: 1px solid $accent;
  }
}

.subscribe-title {
  display: block;
  color: $title-white-color;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.button-footer {
  @extend %button;
  display: inline-flex;
  padding: 10px 29px;
  align-items: center;
}

.subscribe-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.copyright {
  display: none;
  // display: block;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  padding-top: 18px;
  padding-bottom: 21px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
