.logo {
  @extend %logo;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 0px;
  color: $primary-text-color;
}

.logo-blue {
  color: $accent;
}
.logo-white {
  color: $title-white-color;
}
