$primary-text-color: #212121;
$title-text-color: #757575;
$title-white-color: #ffffff;
$accent: #2196f3;
$footer-text-color: rgba(255, 255, 255, 0.6);
$secondary-bg-color: #f5f4fa;
$footer-bg-color: #2f303a;
$icon-color: #afb1b8;
$footer-bg-socicon: rgba(255, 255, 255, 0.1);
$backdrop-bg-color: rgba(0, 0, 0, 0.2);
$input-backdrop-color: rgba(33, 33, 33, 0.2);
$time-function: cubic-bezier(0.4, 0, 0.2, 1);
